<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>失敗頁</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <main>
        <header class="headline">失敗頁面</header>
        <section class="view">
            <form id="signin-form">
            {% if message %}  
            <div class="field"><span> {{message}}</span></div> 
            {% else %}
            <div class="field"><span> something went wrong</span></div>
            {% endif %} 

        </form> 
        </section> 
        </main>      
	<script>
      
  </script>
  </body>
</html>